/* reset.css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background: none;
}

/* global setting */
:root {
  --grey--color: rgb(201, 201, 201);
  --red--color: rgb(255, 86, 86);
  --green--color: rgb(103, 190, 93);
  --yellow--color: rgb(249, 210, 72);
  --blue--color: rgb(85, 133, 236);
}

html {
  background-color: var(--grey--color);
  display: flex;
  justify-content: center;
}

body {
  line-height: 1;

  font-family: "Pretendard-Regular";

  background-color: white;

  width: 34rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

i,
.calendar__todo-num,
footer > div {
  cursor: pointer;
}

/* font setting */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTTogether";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "TTTogether";
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

span {
  font-size: 1rem;
}

main {
  margin: 0 2rem;
}
