@import url("../common/base.css");

main > h2 {
  text-align: center;
  margin-bottom: 2rem;
}
#order-change {
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  border: 0.1rem solid var(--grey--color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0.7rem 0.1rem var(--grey--color);
  color: var(--grey--color);
}
